{% load static %}
<script src="{% static 'assets/default/js/jquery-3.6.0.min.js' %}"></script> 
 <script src="{% static 'assets/instascan.min.js' %}"></script> 
<style>
    #uni_modal .modal-dialog {
        max-width: 100%;
        height: calc(100% - 30px);
        margin: 0px auto;
    }
    #uni_modal .modal-footer {
        display: none
    }

    #uni_modal .modal-sub-footer {
        display: flex
    }

    #scanner {
        width: 100%;
        height: 50vh;
        margin: 0px auto;
        position: relative;
        object-fit: cover;
        object-position: center center;
    }

    #scanner-focus {
        background: #00000085;
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    img{
        display: block;
        margin: 0 auto;
        width: 40%;
        height: auto;

    }
    h1{
        text-align: center;}
</style> 
 <body> 
    <div class="ui container">
    
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&amp;data={{ request.scheme }}://{{ request.get_host }}/view_member/{{request.GET.id}}">

     </div>

   